//Theme variables
$bg-colour: #e7e7e7 !default;
$main-colour: #8C93C6;

// Typography
$headings-font-family: 'Libre Baskerville', serif !default;
$headings-font-weight: 700;
$body-font-family: 'Nunito', sans-serif !default;