//Theme variables
$bg-colour: #e7e7e7 !default;
$main-colour: #8C93C6;
$second-colour: #593959;
$header-bg-colour: #2c1f3f;

// Typography
$zero-font-family: 'Nunito', sans-serif !default;
$headings-font-weight: 700;