.card{
    background-color:transparent;
    border:none;
    transition: transform .2s; 

    h2 {
        text-transform: uppercase;
        a {
            color: $second-colour;
        }
    }

    img {
        margin:0;
        width: 100%;
        border-radius: 0 15% 0 0;
        clip-path: polygon(0% 0%, 0% 90%, 100% 100%, 100% 0%);
    }

    &:hover{
        transform: scale(1.02); 
    }
}